:root {
  --color-principal: #2A6173;
  --color-secundario: #AEC3CD;
  --color-columna: #283D3D;
  --color-fondo: #ffffff;
  --color-texto: #ffffff;
  --color-bloque: #3f7886;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 0.9em;
  position: relative;
  background-color: var(--color-fondo);
}

.fondo {
  background-color: #a4a7a7;
  width: 40%;
  min-width: 500px;
  margin: auto;
  padding: 0 13px 17px 0;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  background: radial-gradient(at right top, var(--color-principal), var(--color-secundario));
}

#titulos {
  margin-left: 40%;
  padding: 40px;
  color: var(--color-texto);
}

#titulos h1 {
  font-size: 1.8em;
  margin: 10px 0 0 0;
}

#titulos h2 {
  font-size: 1.3em;
  margin: 3px;
}

.columna {
  position: absolute;
  top: 0;
  left: 4%;
  background-color: var(--color-columna);
  width: 30%;
  height: 100vh;
  z-index: 10;
  color: var(--color-texto);
}

.foto {
  padding: 20% 3% 10% 5%;
}

.foto img {
  width: 97%;
  border-radius: 50%;
}

.contenido {
  position: absolute;
  top: 22%;
  left: 0;
  background-color: white;
  width: 100%;
  height: 75vh;
  margin: 0 0 15px 0;
  border-radius: 0 0 15% 0;
  z-index: 5;
  padding: 0 0 20px 40%;
  display: flex;
  flex-direction: column;
}

.bloque-1 {
  padding: 5px;
  margin-top: 15px;
}

.titulo-bloque-1 {
  background-color: var(--color-bloque);
  color: white;
  padding: 10px 25px;
  font-size: 1.3em;
  border-radius: 25px;
}

.contenido-bloque-1 h4 {
  margin: 10px 0 0 0;
}

.contenido-bloque-1 p {
  margin: 0 0 10px 0;
}

.bloque-2 {
  padding: 10px 10px 0px 5px;
}

.titulo-bloque-2 {
  background-color: var(--color-bloque);
  color: white;
  padding: 5px 25px;
  font-size: 1.3em;
  border-radius: 7px;
}

.contenido-bloque-2 {
  font-size: 1.3em;
}

.icon {
  width: 15%;
  float: left;
  text-align: center;
}

.contenido-bloque-2 h6 {
  font-size: 0.7em;
  font-weight: 100;
  margin: 10px 10px;
}

.cont-fila {
  display: flex;
  flex-direction: row;
}

.hobbies {
  width: 15%;
  height: 15%;
  margin: 5% 3%;
  padding: 4%;
  background-color: white;
  color: var(--color-columna);
  border-radius: 50%;
}

.bola {
  border-radius: 50%;
  background-color: #dce3e3;
  z-index: 15;
  position: absolute;
}

#bola1 {
  width: 4vh;
  height: 4vh;
  top: 2%;
  left: 6%;
  opacity: 0.2;
}

#bola2 {
  width: 7vh;
  height: 7vh;
  top: 16%;
  left: 58%;
  opacity: 0.2;
}

#bola3 {
  width: 3vh;
  height: 3vh;
